<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WFD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WFD.Properties.Settings>
            <setting name="tssbCoding" serializeAs="String">
                <value>ASCLL</value>
            </setting>
            <setting name="tbSend" serializeAs="String">
                <value />
            </setting>
            <setting name="tsbSendText" serializeAs="String">
                <value />
            </setting>
            <setting name="lbSend" serializeAs="String">
                <value />
            </setting>
            <setting name="lbOut" serializeAs="String">
                <value />
            </setting>
            <setting name="tbWrong" serializeAs="String">
                <value />
            </setting>
            <setting name="lbWrong" serializeAs="String">
                <value />
            </setting>
            <setting name="sbOut" serializeAs="String">
                <value />
            </setting>
            <setting name="sbWrong" serializeAs="String">
                <value />
            </setting>
            <setting name="sbTreeView" serializeAs="String">
                <value />
            </setting>
            <setting name="gwrong" serializeAs="String">
                <value />
            </setting>
        </WFD.Properties.Settings>
    </userSettings>
</configuration>